*{margin:0;padding:0;}
i,em{
    font-style:normal;
}
/*去掉datalist的下拉图标*/
input::-webkit-calendar-picker-indicator{
	display: none;
	-webkit-appearance: none;
}
/*设置输入区域大小，居中显示*/
/*设置输入区域大小，居中显示*/
.search{
    width:1200px;
    height:120px;
    margin:0 auto;
    margin-top:20px;
    position:relative;
}
/*设置左侧log，调整大小和位置*/
.search>img{
    width:219px;
    position:absolute;
    left:0;
}
/*设置输入框样式.调整位置*/
.search_text input{
    padding-left:5px;
    width:360px;
    height:40px;
    border:1px solid #da9393;
    outline:none;
    position:absolute;
    box-shadow:0 0 2px 0 #aaa inset,0 0 2px 0 #d2d9e2;
    left:350px;
    top:40px;
}
/*设置下拉框的样式，调整位置*/
.search_text select{
    height: 35px;
    border: none;
    outline: none;
    position: absolute;
    top: 42px;
    left: 620px;
}
/*设置搜索按钮的样式*/
.search_text a{
    position: absolute;
    height: 41px;
    width: 50px;
    background: linear-gradient(to bottom, #f7e3e3, #e26a6a);
    color: #fff;
    text-align: center;
    line-height: 37px;
    top: 39px;
    left: 702px;
}

/*调整热搜宠物的位置*/
.search_hot{
    position:absolute;
    top:80px;
    left:29%;

}
/*调整热搜宠物间的距离*/
.search_hot ul li{
    float:left;
    margin:10px 5px;
}
/*热搜宠物字体颜色*/
.search_hot ul li a{
    color:#666;
    text-decoration: none;
}
/*热搜宠物鼠标悬停时的字体颜色*/
.search_hot ul li a:hover{
    color:#e37100;
}
/*调整购物车的位置*/
.shopping_car{
    width:120px;
    height:40px;
    border:1px solid #DFDFDF;
    background:rgba(220,220,220,0.8);
    line-height:40px;
    position:absolute;
    top:40px;
    right:50px;
}
/*设置购物车字体颜色*/
.shopping_car a{
    color:#f00;
    margin-left:10px;
}
/*设置购物车图片和文字垂直对齐*/
.shopping_car a img{
    vertical-align:middle;
}
/*清除高度坍塌*/
div.search_text:after{
    display:block;
    content:"";
    clear:both;
}
/*设置导航的框架*/
.nav{
    width:100%;
    height:50px;
    position:relative;
    background:#f5a3a3;
}
/*导航内容的位置大小*/
.nav_content{
    width:1200px;
    height:50px;
    margin:0 auto;
}
/*调整ul位置*/
.nav_content>ul{
    margin-left:25px;
}
/*设置浮动排在一行 调整具体位置*/
.nav_content>ul>li{
    width:115px;
    height:50px;
    float:left;
    text-align:center;
    line-height:50px;
}
/*设置字体颜色 大小*/
.nav_content>ul>li>a{
    color:#fff;
    font-size:16px;
}
/*当鼠标悬停时，颜色加深*/
.nav_content>ul>li:hover{
    background:#ea6767;
}
/*定位导航位置*/
.dropdown{
    position:relative;
}
.dropdown a:hover{
    text-decoration:none;
}
/*设置导航下拉菜单中的每个小标题居中显示*/
.dropdown-menu>div>div>p{
   text-align:center;
   margin-bottom:5px;
}
/*设置宠物狗下拉框的位置 大小*/
.dog_type,.cat_type,.other_type{
/*   	 display:none;*/
    position:absolute;
    width:1200px;
    height:300px;
    margin-top:14px;
	margin-left:-165px;
    border:1px solid #b4b0b1;
    border-top:none;
    box-shadow:0 0 2px 0 #f9dada;
    background:rgba(252,249,250,0.9);
}
/*设置宠物类型浮动横向排列*/
.small_type,.middle_type,.big_type{
    float:left;
}
/*s设置内部框架*/
.small_type,.middle_type,.big_type{
    width:399px;
    height:100%;
}
/*字体间距*/
.dog_type ul li,.cat_type ul li,.other_type ul li{
    height:20px;
    text-align:left;
}
.dog_type ul li a,.cat_type ul li a,.other_type ul li a{
         font-size:14px;
}
/*设置内容的位置*/
.dog_type ul,.cat_type ul,.other_type ul{
    margin-top:-30px;
    margin-left:60px;
    float:left;
}
/*设置内部距离*/
.dog_type ul:nth-child(2),.cat_type ul:nth-child(2),.other_type ul:nth-child(2){
    margin-right:70px;
}

/*设置第一个选项字体颜色为红色*/
.dog_type>.small_type ul:nth-child(2) li:first-child a{
    color:red;
}
/*调整宠物猫下拉框位置，隐藏模块*/
.cat_type{
    margin-left:-280px;
}
/*调整奇趣小宠下拉框位置，隐藏模块*/
.other_type{
    margin-left:-387px;
}
/*重置轮播图左右两侧按钮的样式*/
.carousel-control-prev,
.carousel-control-next {
    width:4%;height:25%;
    background:#bfb7b7;
    border-radius:10%;
    top:40%;
}
/*重置轮播图底部指示器的样式*/
.carousel-indicators li{
    width:1rem;
    height:1rem;
    border-radius:50%;
    margin:0 5px;
}
/*重置轮播图底部指示器鼠标悬停时的光标*/
.carousel-indicators li:hover{
    cursor:pointer;
}
/*设置指示器活动时的背景颜色*/
.carousel-indicators .active{
    background-color:#E78888;
}
/*设置用户需求模块框架和位置*/
.my_main0{
  width:1200px;
  height:420px;
  margin:20px auto;
  color:#666;
  border:1px solid #bfbfbf;
  background:#fff;
  position:relative;
  
}
/*设置用户需求模块左侧绝对定位*/
.main0_left{
   position:absolute;
   top:10px;
   left:10px;
}
/*设置左侧内容区域的高度和线条*/
.main0_left ul{
  border:1px solid #dbdbdb;
}
/*内容区域的高度、内边距，文字居中显示*/
.main0_left ul li{
  height:48px;
  padding:0 20px;
  line-height:48px;
}
/*设置左侧内容第一个和最后一个高*/
.main0_left ul li:first-child,.main0_left ul li:last-child{
  height:53px;
}


/*左侧线条*/
.main0_left ul li:first-child{
     border-bottom:2px solid #f5a3a3;
}
/*字体颜色*/
.main0_left ul li:first-child span:nth-child(1),.main0_left li:nth-child(2) span,.main0_left li:nth-child(3) span{
    color:#ec7f7f;
}
/*设关键字为红色字体*/
.main0_left ul li:first-child span:nth-child(2),.main0_left ul li:last-child span{
  color:#f00;
}
/*下拉框的宽高*/
.main0_left select{
	width:150px;
	height:30px;
	border:1px solid #dbdbdb
}
/*输入框的宽高*/
.main0_left input{
  width:304px;
 height:36px;
 padding-left:10px;
 outline:none;
 border:1px solid #dbdbdb
}
/*按钮样式*/
.main0_left button{
	width:304px;
	height:40px;
	background:#f5a3a3;
	border:none;
	line-height:40px;
	color:#fff;
	cursor:pointer;
}

/*设置用户需求模块右侧位置*/
.main0_right{
  width:790px;
  position:absolute;
  top:10px;
  right:10px;
}
/*图片设100%，确保完全在容器内*/
.main0_right img{
   width:100%;
}
/*右侧下面文字的排列,去掉下外边距*/
.main0_right ul{
   float:left;
   padding:0 22px;
   margin-bottom:0;

}
/*右侧文字居中*/
.main0_right ul li:first-child{
    text-align:center;
}
/*右侧虚线*/
.main0_right ul:nth-child(2),.main0_right ul:nth-child(3){
   border-right:1px dashed #dbdbdb;
}
/*右侧链接文字颜色样式*/
.main0_right ul li a{
	color:#777;
	font-size:12px;
}
/*右侧链接鼠标悬停时颜色样式*/
.main0_right ul li a:hover{
	color:#f00;
}

/*解决浮动带来的高度坍塌问题*/
.main0_right>div:after{
   display:block;
   content:"";
   clear:both;
}
/*右侧区域下边边框框颜色*/
.main0_right>div{
   border:1px solid #dbdbdb;
}
/*新闻公告样式*/
.main0_right p{
    margin-bottom:0;
	height:40px;
	line-height:40px;
	text-align:center;
	border-bottom:1px dashed #dbdbdb;
}
/*新闻公告字体样式*/
.main0_right p>a{
   color:#000;
   font-size:16px;
}
/*热门宠物导航栏宽度*/
.hot_pet{
  width:1200px;
  margin:0 auto;
  border:1px solid #dbdbdb;
}
/*热门宠物导航栏ul背景颜色*/
.hot_pet ul.nav{
  background: #efede9;
  border-bottom:1px solid #dbdbdb;
}
/*热门宠物导航栏li宽度*/
.hot_pet ul li.nav-item{
   width:110px;
   border-width:1px solid #f00;
   text-align:center;
}
/*热门宠物导航栏当鼠标悬停时，颜色加深*/
.hot_pet .nav_content>ul>li:hover{
    background:#efede9;

}
/*设置热门宠物导航的字体样式*/
.hot_pet ul li a{
   display:inline-block;
   line-height:50px;
   font-size:16px;
   font-weight:bold;
   color:#965f5f;
   position:relative;
}
/*热门宠物当鼠标悬停时，颜色加深*/
.hot_pet ul li.nav-item:hover{
    background:#b1aea9;
}
.hot_pet ul li.nav-item.show{
    background:#b1aea9;

}
/*热门宠物当鼠标悬停时的字体样式*/
.hot_pet ul li.nav-item a:hover{
	color:#fff;
}
/*热门宠物flex布局横向排列*/
.hot_pet .tab-content ul{
   display:flex;
}
/*对每张图片进行相对定位*/
.hot_pet .tab-content ul li{
   margin:10px 6px;
   transition:opacity 1s linear;
   position:relative;
}
/*鼠标悬停到图片时的动态样式*/
.hot_pet .tab-content ul li a img:hover{
	 opacity:0.7;
}
/*热门宠物相关字体位置*/
.hot_pet .tab-content ul li div{
  height:80px;
  width:287px;
  background: rgba(0,0,0,0.4) !important;
  position:absolute;
  bottom:10px;
  text-align:center;
}
/*热门宠物字体描述的位置颜色*/
.hot_pet .tab-content ul>li>div>p{
   margin:10px auto;
   color:#fff;
 
}
/*热门宠物的链接按钮样式*/
.hot_pet .tab-content ul>li>div>a{
      width:85px;
	  height:20px;
	  border-radius:10px;
	  font-size:14px;
	  background:#ff6766;
	  line-height:20px;
	  color:#fff;
	  font-weight:normal;
}
/*狗狗推荐模块*/
.pet_recommend{
  width:1200px;
  margin:0 auto;
  margin-top:20px;
  border:1px solid #bfbfbf;
}
/*推荐模块头部样式/宠物百科/头部样式*/
.pet_recommend>div:first-child,.pet_wiki>div:first-child,.buyer_evaluation>div:first-child{
   height:50px;
   display:flex;
   background:#efede9;
   justify-content: space-between;
}
/*推荐模块标题样式/宠物百科/买家评价/标题样式*/
.pet_recommend>div>h5,.pet_wiki>div:first-child>h5,.buyer_evaluation>div:first-child>h5{
   margin-bottom:0;
   color:#965f5f;
   font-weight:bold;
   margin-left:10px;
   line-height:50px;
}
/*“查看更多”连接样式*/
.pet_recommend>div>a,.pet_wiki>div:first-child>a{
   width:100px;
   height:26px;
   color:#fff;
   text-align:center;
   padding-top:2px;
   border-radius:15px;
   margin-top:12px;
   margin-right:15px;
   background:#806565;
}
/*连接中的图片位置调整*/
.pet_recommend>div>a>img,.pet_wiki>div:first-child>a>img{
   margin-left:3px;
}
/*狗狗推荐模块每一行设置一个div容器，分5个小的div 弹性布局 */
.pet_module>div{
	    display:flex;
		justify-content:space-around;
		margin:10px 0px;
	}
/*设置5个小div的宽和边框样式*/
.pet_module>div>div{
	width:230px;
	border:1px solid #ddd;
}
/*设置div中图片的位置居中*/
.pet_module>div>div>img{
	margin-left:5px;
	width:220px;
}
/*设置宠物详情信息模块在div中的位置*/
.pet_module_details{
	padding:5px;
}
/*设置宠物标题太长文字溢出时冒号隐藏*/
.pet_module_details>p:first-child{
   font-size:14px;
   margin-bottom:0px;
   padding:2px 0px;
   overflow:hidden;
   white-space:nowrap;
   text-overflow:ellipsis;
   cursor:pointer;
}
/*鼠标悬停时，字体颜色为红色*/
.pet_module_details>p:first-child:hover{
	    color:#f00;
}
/*价格样式*/
.price{
	font-size:18px;
    font-weight:bold;
    margin:10px 0;
    color:#E4393C;
}
.pet_module_details p:nth-child(3){
    display:flex;
    justify-content: space-between;
}
/*在线咨询样式*/
.pet_module_details p:nth-child(3) a{
      width:85px;
      color:#f00;   
      padding-left:22px;
      border:1px solid#ddd;
      border-radius:5px;
      background:url(../img/index/consult.jpg) no-repeat;
     
}
/*收藏、购物车模块flex布局，两端对齐*/
.pet_module_details p:nth-child(4){
      display:flex; 
      justify-content:space-between; 
}
/*收藏、购物车模块样式*/
.pet_module_details p:nth-child(4) a{
     width:50%;
     height:40px;
     color:#666;
     text-align:center;
     line-height:40px;
     border:1px solid #ddd;
     
}
/*收藏样式*/
.pet_module_details p:nth-child(4) a:first-child{
    border-right:none;
}
/* 鼠标悬停到宠物推荐框中的边框样式 */
.pet_module>div>div:hover{
    border:1px solid #f5a3a3;
    box-shadow: 0 0 1px 1px #f7b1b1 inset;
}
.pet_module>div>div{
    position:relative;
    height:380px;
}
/* 鼠标悬停到图片的样式 */
.pet_module>div>div>img:hover{
    opacity:0.8;
}
/* 推荐宠物展示隐藏 */
.pet-show{
    position:absolute;
    height: 40px;
    width:220px;
    left:5px;
    top:175px;
    padding-left:5px;
    background: rgba(0,0,0,0.4) !important;
    /* display:none;  */
}
/*小图片设置大小 */
.pet-show>img{
    width:40px;
    height:40px;
    opacity:0.9;
    cursor:pointer;
    border:1px solid #ddd;
}
 /*宠物百科宽高*/
  .pet_wiki{
	  width:1200px;
	  margin:20px auto;
	  border:1px solid #bfbfbf;
    }
/*3个div弹性排列 两端对齐*/
	.pet_wiki>div:nth-child(2){
	  display:flex;
	  justify-content:space-between;
	  
	}
  /*宠物百科3个div的宽高，排列方式*/
  .pet_wiki>div>div{
	  width:385px;
	}
  /*宠物百科的标题样式*/
	.pet_wiki>div>div>p{
	   height:50px;
		 font-size:16px;
		 color:#efede9;
		 line-height:50px;
		 padding-left:20px;
		 background: #806565;
         border-left: 5px solid #ef6115;	
	}


  /*宠物百科3个小div内的内容去掉ul的标识符*/
	.pet_wiki>div>div>ul{
    list-style:none;
	}
   /*ul中li之前插入符号·*/
	.pet_wiki>div>div>ul>li>a::before{
	   content:"·";
		 display:inline;
		 font-weight:bold;
		 padding:0 10px;
	}
  /*设置li的上下内边距*/
	.pet_wiki>div>div>ul>li{
	    padding:10px 0;
	    border-bottom:1px dotted #ddd;
		white-space:nowrap;
		overflow:hidden;
		text-overflow:ellipsis;
	}
 /*去除下划线 设置字体大小*/
	.pet_wiki>div>div>ul>li>a{
	    color:#333;
			font-size:14px;
	}
  /*设置鼠标悬停时候的字体颜色*/
		.pet_wiki>div>div>ul>li>a:hover{
       color:#ef6115;
	}
  /*底部"查找更多"的字体样式*/
	.pet_wiki>div>div>a{
			display:block;
		    color:#00a0ea;
			padding-left:40px;
			padding-bottom:20px;
	}
.pet_wiki>div>div>a:hover{
    color:#0774a7;
}
/*买家评价和热销宠物模块*/
.buyer_evaluation{
    width:1200px;
	/*height:800px;*/
	margin:0 auto;
	border:1px solid #bfbfbf;
}
/*买家评价和热门宠物弹性布局，实现横向排列*/
.buyer_evaluation>div:nth-child(2){
    display:flex;
	justify-content:space-between;

}
/*左边买家评价内容区域大小*/
.left_content{
   width:880px;
   height:450px;
   display:flex;
   margin-bottom:5px;
   border:1px solid #ddd;
   overflow:hidden;
}
/*左边买家评价内容包含两块div的大小*/
.left_content>div{
    width:50%;
}
/*设置评价内容中的线条*/
.left_content .line{
    height:100%;
    border:1px solid #ddd;
}

/*设置弹性布局，让两个div横向排列，设置内容区域的字体*/
.left_content>div>div{
    display:flex;
    font-size:12px;
    width:400px;
    height:90px;
    margin:20px;
    border-bottom:1px solid #ddd;
}
/*买家图片的外边距*/
.left_content>div>div>div:first-child{
    margin-right:10px;
    margin-top:4px;
}
/*评价内容样式*/
.left_content>div>div>div:nth-child(2){
    color:#777;
}
/*放评价内容的div设置弹性布局，两端对齐*/
.left_content>div>div>div:nth-child(2)>div{
    display:flex;
    justify-content:space-between;
    margin-bottom:4px;
}
/*评价中标题的蓝色字体样式*/
.left_content>div>div>div:nth-child(2)>div>span:first-child{
   color:#005ea6;
}
/* 买家评价的动画轮播效果 */
@keyframes scrollPJ {
    0%{
       transform: translateY(0px);
    }
    20%{
       transform: translateY(-89.6px);
    }
    40%{
        transform: translateY(-179.2px);
    }
    60%{
        transform: translateY(-268.8px);
    }
    80%{
        transform: translateY(-358.4px);
    }
    100%{
        transform: translateY(-448px);
    }
  }
.PJ{
    animation:scrollPJ 10s  cubic-bezier(1,0,0.5,0) infinite;
}
.PJ:hover{
    animation-play-state:paused;
}

/*右边热门宠物的宽高*/
.right_content{
  width:300px;
  height:450px;
  border:1px solid #ddd;
}
/*热门宠物标题flex布局,横向排列*/
.right_content_title{

     display:flex;
 }
/*热门宠物标题样式*/
.right_content_title>h6{
    font-size:14px;
    width:100px;
    height:50px;
    color:#806565;
    font-weight:bolder;
    line-height:50px;
    background:#e9e7e8;
    text-align:center;
}
.right_content_title>.dog1{
    color:#fff;
    background:#806565;
}
/*宠物内容间距*/
.right_content_details>ul>li{
   padding:5px 20px;
    position:relative;
}
/*宠物序号123..样式*/
.right_content_details>ul>li>span{
    display:inline-block;
    height:20px;
    width:20px;
    text-align:center;
    line-height:20px;
    color:#fff;
    background:#f5a3a3;
    margin-right:5px;

}
/*市价文字样式*/
.right_content_details>ul>li>i{
    color:#666;
    position:absolute;
    left:160px;
}
/*市价文字样式*/
.right_content_details>ul>li>i>em{
    color:red;
}
/*宠物详情背景样式*/
.pet_details{
    height:80px;
    background:#f5f5f5;
    font-size:12px;
}
.hide{
    display:none;

}

.right_content_details>ul>li:hover .hide{
    display:block;
}



/*宠物详情图片样式*/
.pet_details>div>a>img{
   width:100%;
}
/*图片位置*/
.pet_details>div:first-child{
    width:80px;
    height:80px;
    float:left;
}
/*图片右侧内容位置*/
.pet_details>div:last-child{
    width: 160px;
    height: 80px;
    float:right;
    padding-top:10px;
}
/*右侧内容间距*/
.pet_details>div:last-child>p{
    margin-bottom:8px;
}
/*右侧文字小标题样式*/
.pet_details>div:last-child .text01{
    color:#666;

}





/*友情链接容器的宽，居中显示*/
.friendship_link{
	width:1200px;
	margin:20px auto;
}
/*设置标题样式*/
.friendship_link div:first-child{
	width:100px;
	height:40px;
	color:#fff;
	text-align:center;
	line-height:40px;
	background:#454344;
}
 /*链接内容区域*/
 .friendship_link div:last-child{
	height:158px;
	border:1px solid #aaa;	
	padding:10px;
}
/*友情链接内容样式*/
.friendship_link div:last-child a{
    color:#333;
    display:inline-block;
	padding:5px;
}
/*鼠标悬停时的样式*/
.friendship_link div:last-child a:hover{
    color:#ef6115;

}


